<div class="menu">
    <a href="/settings/profile" class="<%= page === 'profile' ? 'active' : '' %>">My Profile</a>
    <a href="/settings/security" class="<%= page === 'security' ? 'active' : '' %>">Account Security</a>
    <a href="/settings/subscriptions" class="<%= page === 'subscriptions' ? 'active' : '' %>">Subscriptions</a>
    <a href="/settings/privacy" class="<%= page === 'privacy' ? 'active' : '' %>">Privacy</a>
    <a href="/settings/notification" class="<%= page === 'notification' ? 'active' : '' %>">Notification Preferences</a>
    <a href="/settings/delete" class="red <%= page === 'delete' ? 'active' : '' %> ">Delete Account</a>
</div>


<div></div>